langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.12
langchain-google-genai==2.0.1
langchain-groq==0.2.0
langchain-huggingface==0.1.0
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langchainhub==0.1.21
langgraph==0.2.34
sentence-transformers==3.2.0
python-dotenv==1.0.1
PyPDF2==3.0.1
google-generativeai==0.8.3
faiss-cpu==1.9.0
bcrypt==4.2.0
streamlit==1.38.0